<%= form_for @recipe do |f| %>
  <%=f.label :name %>
  <%=f.text_field :name %>
  <%  @ingredients.each do |ingredient| %>
    <p><%= check_box_tag 'ingredients[]', ingredient.name , checked = @recipe.ingredients.include?(ingredient), {:id => ingredient.name}  %><%= ingredient.name %> </p>
  <% end %>
  <%=f.submit %>
<% end %>
